#page {
  position: relative;
}

#page .column {
  position: absolute;
  top: 0;
  height: 100%;
}

#page .column .header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1.5rem; /* NOTE: This is also specified in the source code. */
  text-align: center;
  line-height: 1.5rem;
  background: #111;
  border-right: 0.1rem solid #080808;
  color: #CCC;
}

#page .column .header:hover {
  background: #222;
  color: #FFF;
}

#page .column .header:active {
  background: #333;
}

#page .column .outline {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0.1rem;
  background: #080808;
}

#page .row {
  position: absolute;
  left: 0;
  width: 100%;
}

#page .row .header {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5rem; /* NOTE: This is also specified in the source code. */
  text-align: center;
  background: #111;
  border-bottom: 0.1rem solid #080808;
  color: #CCC;
}

#page .row .header:hover {
  background: #222;
  color: #FFF;
}

#page .row .header:active {
  background: #333;
}

#page .row .outline {
  position: absolute;
  left: 5rem;
  right: 0;
  height: 0.1rem;
  bottom: 0;
  background: #080808;
}